@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lite-grey: hsl(217, 12%, 63%);
  --grey: hsl(216, 12%, 54%);
  --blue: hsl(213, 19%, 18%);
  --dark-blue: hsl(216, 12%, 8%);
  --attr-color: hsl(228, 90%, 85%);
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  background-color: var(--dark-blue);
  color: var(--white);
}

.flex-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card {
  background-color: var(--blue);
  border-radius: 25px;
  padding: 10px;
}

.rating-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks-card {

}

.footer {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  color: var(--white);
}

.footer a {
  color: var(--attr-color);
  font-weight: bold;
}

.footer a:hover {
  color: var(--attr-color);
  font-size: 16px;
}
